kind: PersistentVolume
apiVersion: v1
metadata:
  name: pv-labdroid-minio-config
spec:
  capacity:
    storage: 1Gi
  nfs:
    server: 192.168.1.127
    path: /volume1/ocp.labdroid/pv-labdroid-minio-config
  accessModes:
    - ReadWriteOnce
  claimRef:
    namespace: labdroid
    name: labdroid-minio-config
  persistentVolumeReclaimPolicy: Retain
  storageClassName: slow
  volumeMode: Filesystem
