kind: PersistentVolume
apiVersion: v1
metadata:
  name: minio-config-volume
spec:
  capacity:
    storage: 1Gi
  nfs:
    server: 192.168.1.127
    path: /volume1/ocp.labdroid/pv-labdroid-minio-config
  accessModes:
    - ReadWriteOnce
  claimRef:
    namespace: labdroid
    name: minio-config-claim
  persistentVolumeReclaimPolicy: Retain
  volumeMode: Filesystem
